body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 500;
}

.top {margin-top:4rem;}
.bottom {margin-bottom:4rem;}

@media screen and (max-width: 768px) {
  .top {
     margin-top: 0rem;
  }
  .bottom {
    margin-bottom: 1rem;
  }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .ip-good {
      background-color: #D4EDDA;
      border: solid 1px #BFD6C5;
      padding:6px;
      margin: 6px 0 18px 0;
      padding-left:12px;
      text-align: left;
  }
  .ip-bad {
      background-color: #F9D7DA;
      border: solid 1px #BFD6C5;
      padding:6px;
      margin: 6px 0 18px 0;
      padding-left:12px;
      text-align: left;
      font-size:90%;
  }
  .ma-status {
    border: solid 1px #BFD6C5;
    padding:6px;
    margin: 6px 0 18px 0;
    padding-left:12px;
    text-align: left;
    font-size:90%;
  }
  .hide {
      display: none;
  }
  .show {
      display: block;
  }